* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

.err-msg {
    color: #cc0000;

}
.success-msg {
    color: #0000CC;
}
body {
    width: 100%;
    padding: 0;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

header, footer {
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    padding: 16px 0;
    background-color: #000;
    color: #fff;
}

.inner {
    padding-left: 20px;
        padding-right: 20px;
        max-width: 800px;
            margin: 0 auto;
}

ul {
    list-style: none;
}
button {
    border: none;
}
.form-button {
    padding: 8px;
    cursor: pointer;
    color: #fff;
    background-color: #0051CC;
}
.delete-btn {
background-color: #cc0000;
color: #fff;
}
.send-mail-btn {
    background-color: #583F99;
    color: #fff;
}

.header-inner {
    display: flex;
    justify-content: space-between;
}

.header-inner h1 a {
text-decoration: none;
color: #fff;
}

.main-container {
    margin: 64px auto;
    padding: 32px 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.main-container h2 {
    margin-bottom: 24px;
}

.main-container ul li:not(:last-child) {
    margin-bottom: 24px;
}

.form-container div {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
}

.form-container form label {
    display: inline-block;
    width: 130px;
}

.form-container input, .form-container textarea {
    padding: 4px;
}

.form-container .input, .form-container textarea {
    width: 50%;
}

.form-container .validate-msg {
    display: block;
    width: 100%;
    margin-top: 4px;
}
.main-container dl {
    margin-bottom: 32px;
}
.main-container dl div {
    display: flex;
}
.main-container dl div:not(:last-child) {
    margin-bottom: 24px;
}
.main-container dl dt {
    width: 130px;
}
.main-container .form-controller-area {
    display: flex;
}
.main-container .form-controller-area form:not(:last-child) {
    margin-right: 24px;
}
.mail-setting-container form label {
    width: 100px;
}
.mail-setting-container select {
    padding: 4px 8px;
}


